In [1]:
import pandas as pd
from dotenv import load_dotenv
import os

In [2]:
# Load environment variables from .env
load_dotenv()

# Get CSV path
csv_path = os.getenv("PRICES_DATASET_PATH")

# Load CSV
df = pd.read_csv(csv_path)

print("Original shape:", df.shape)
df.head()

Original shape: (164063, 10)

,STATE,District Name,Market Name,Commodity,Variety,Grade,Min_Price,Max_Price,Modal_Price,Date
0,Uttar Pradesh,aligarh,Aligarh,Potato,Desi,FAQ,1500.0,1800,1650.0,1/1/2025
1,Uttar Pradesh,hardoi,Sandi,Potato,Local,FAQ,1550.0,1620,1580.0,1/1/2025
2,Uttar Pradesh,shravasti,Bhinga,Potato,Desi,FAQ,1470.0,1750,1600.0,1/1/2025
3,Uttar Pradesh,etawah,Bharthna,Potato,Desi,FAQ,1300.0,1500,1400.0,1/1/2025
4,Tamilnadu,karur,Velayuthampalayam(Uzhavar Sandhai ),Potato,(Red Nanital),Local,4000.0,5000,5000.0,1/1/2025

In [3]:
df = df[["STATE", "District Name", "Commodity", "Modal_Price", "Date"]]
print("After keeping important columns:", df.shape)
df.head()

After keeping important columns: (164063, 5)

           STATE District Name Commodity  Modal_Price      Date
0  Uttar Pradesh       aligarh    Potato       1650.0  1/1/2025
1  Uttar Pradesh        hardoi    Potato       1580.0  1/1/2025
2  Uttar Pradesh     shravasti    Potato       1600.0  1/1/2025
3  Uttar Pradesh        etawah    Potato       1400.0  1/1/2025
4      Tamilnadu         karur    Potato       5000.0  1/1/2025

In [4]:
df["Date"] = pd.to_datetime(df["Date"])

In [5]:
df = df[df["Date"] >= "2024-01-01"]
print("After filtering last 1 year:", df.shape)

After filtering last 1 year: (164063, 5)

In [6]:
df_monthly = df.groupby(
    ["STATE", "District Name", "Commodity", pd.Grouper(key="Date", freq="M")]
)["Modal_Price"].mean().reset_index()

print("After monthly aggregation:", df_monthly.shape)
df_monthly.head()

C:\Users\Jainisha.LAPTOP-94L8ASEJ\AppData\Local\Temp\ipykernel_11876\3264570620.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  ["STATE", "District Name", "Commodity", pd.Grouper(key="Date", freq="M")]

After monthly aggregation: (3094, 5)

     STATE District Name Commodity       Date  Modal_Price
0   Punjab       fazilka     Onion 2025-02-28  2370.512821
1   Punjab       fazilka     Onion 2025-03-31  2687.068966
2   Punjab       fazilka     Onion 2025-04-30  1572.615385
3   Punjab       fazilka     Onion 2025-05-31  1316.406250
4   Punjab       fazilka     Onion 2025-06-30  1231.250000

In [7]:
# Save cleaned dataset
df_monthly.to_csv("market_price_clean.csv", index=False)

print("✅ Saved reduced dataset as market_price_clean.csv")

✅ Saved reduced dataset as market_price_clean.csv

In [8]:
df_monthly["Date"] = df_monthly["Date"].dt.strftime("%d-%m-%Y")

In [9]:
df_monthly.head()

     STATE District Name Commodity        Date  Modal_Price
0   Punjab       fazilka     Onion  28-02-2025  2370.512821
1   Punjab       fazilka     Onion  31-03-2025  2687.068966
2   Punjab       fazilka     Onion  30-04-2025  1572.615385
3   Punjab       fazilka     Onion  31-05-2025  1316.406250
4   Punjab       fazilka     Onion  30-06-2025  1231.250000

In [10]:
df_monthly.to_csv("market_price_clean.csv", index=False)